<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="generator" content="Your Hub for Event Driven Architecture">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Your Hub for Event Driven Architecture</title>
    <meta name="description" content="Blogs, how to guides, real world example and projects to help make working with Event Driven Systems easier">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="events.dev">
    <meta name="twitter:description"
        content="Blogs, how to guides, real world example and projects to help make working with Event Driven Systems easier">
    <meta name="twitter:image" content="https://events.dev/images/landing.png">
    <meta property="og:url" content="https://events.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="events.dev">
    <meta property="og:description"
        content="Blogs, how to guides, real world example and projects to help make working with Event Driven Systems easier">
    <meta property="og:image" content="https://events.dev/images/landing.png">
    <meta property="og:locale" content="en_GB">

    <link rel="icon" href="/images/favicon.ico">
    <meta name="theme-color" content="#ffffff">

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "82d90e0127474a24815609c7d4b5b209"}'></script>

    <script defer type="application/ld+json">
        {
            "@context": "http:\\schema.org",
            "@type": "Organization",
            "url": "https://events.dev",
            "founder": {
                "@type": "Person",
                "name": "Jordan Finneran",
                "url": "https://jordanfinners.dev"
            },
            "knowsAbout": ["Event Driven Systems", "Event Driven Architecture", "Serverless", "Queues", "Event Bus", "Event Sourcing"]
        }
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/global.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
</head>

<body>
    <header id="header">
        <h2><a href="/index.html">events.dev</a></h2>
        <nav>
            <h3><a href="/blogs.html">Blogs</a></h3>
            <h3><a href="/projects.html">Projects</a></h3>
            <h3><a href="https://webhooks.events.dev" class="contribute">Webhooks As A Service</a></h3>
        </nav>
    </header>

    <main class="home">
        {{ content | safe }}
    </main>
    <footer>
        <div class="flex">
            <a href="#header">Back To Top</a>
        </div>
        <div class="flex">
            <a href="https://github.com/jordanfinners/events.dev/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>
        </div>
        <p>This work is licensed under a <a rel="license"
                href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-Non Commercial 4.0
                International License</a>.</p>
        <p>Copyright 2021 - Created by <a class="h-card" rel="me" href="https://jordanfinners.dev/">Jordan Finneran</a></p>
    </footer>
</body>

</html>
