---
permalink: blogs.html
layout: main.liquid
---
<h1>Blogs</h1>
<form class="search" action="https://duckduckgo.com/" method="get">
    <label>Search:
        <input name="q" placeholder="Search Terms" required="">
    </label>
    <input type="hidden" name="sites" value="events.dev">
    <button type="submit">Search</button>
    <small>Search powered by <a href="https://duckduckgo.com/" target="_blank" rel="noopener noreferrer">Duck Duck Go</a>.</small>
</form>
<section class="blogs">
    {% for blog in collections.blogs %}
        {% include blog-summary.liquid %}
    {% endfor %}
</section>
